body {
	height: 100vh;
	margin: 0;
	overflow: hidden
}

.gooey {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: #000;
	-webkit-filter: contrast(100);
	filter: contrast(100)
}

.bubble {
	position: absolute;
	border-radius: 50%;
	background-color: #fff;
	-webkit-filter: blur(25px);
	filter: blur(25px);
	transition-duration: 2s
}